.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.heading {
  margin-top: 50px;
  margin-right: 1100px;
  margin-left: 100px;
  margin-bottom: 10px;
  text-align: center;
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  font-size: 100px;
}
.diaryBox {
  text-align: center;
  margin: 0% auto;
  background-color: #fdefff;
  border: solid 2px #9e0097;
  width: 85%;
  height: 70vh;
  overflow-y: auto;
}

.diaryLink {
  color: #8e5281;
}

.diaryLink:hover {
  cursor: pointer;
}

.entryBox {
  text-align: center;
  margin: 0% auto;
  background-color: #fdefff;
  border: solid 2px #9e0097;
  width: 85%;
  height: 70vh;
  margin-top: 100px;
  overflow-y: auto;
}

.createNewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e5281;
  margin-top: 50px !important;
  margin: 0% auto;
  border: none;
}
.createNew {
  text-decoration: none;
  color: white;
  font-family: "Josefin Slab", sans-serif;
  font-size: 35px;
  margin: 4px;
}

.createNewContainer:hover {
  background-color: #b78aad;
}

.diaryTitle {
  font-family: "Josefin Slab", sans-serif;
  text-align: left;
  margin-left: 120px;
  font-size: 50px;
  color: #8e5281;
  margin-bottom: 0px;
  font-weight: 1000px;
}

.diaryItem {
  border: 2px solid #8e5281;
  background-color: white;
  width: 99%;
  align-items: center;
  margin: 0% auto;
  margin-top: 10px;
}

.diaryEntry {
  font-family: "Josefin Slab", sans-serif;
  text-align: left;
  margin-left: 120px;
  color: #8e5281;
  font-size: 25px;
  font-weight: bolder;
}
