@import url("https://fonts.google.com/specimen/Josefin+Slab");
@font-face {
  font-family: "Josefin Slab";
  src: url(https://fonts.google.com/specimen/Josefin+Slab);
}

body {
  background-color: #fff3fe; /* Set the background color for the entire screen */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.heading {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #8e5281;
  font-family: "Josefin Slab", "san-serif";
  font-size: 100px;
}
.form {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  background-color: #fff3fe;
  justify-content: center;
  display: contents;
}
.input {
  margin-bottom: 10px;
  margin-top: 40px;
  width: 600px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  background-color: #f9ddf3;
  border: 1px solid #050505;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Josefin Slab", sans-serif;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input::placeholder {
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
}
.input:focus {
  border-color: 1px solid #8e5281;
  outline: 2px solid #8e5281;
}

.input.error-input {
  border: 2px solid red;
}

.buttonContainer {
  background-color: #8e5281;
  color: white;
  margin: 0 auto;
  margin-top: 60px;
  border: #8e5281;
  text-align: center;
  display: block;
  cursor: pointer;
  font-family: "Josefin Slab", sans-serif;
  font-size: 30px;
  height: 50px;
  width: 100px;
}
.buttonContainer:hover {
  background-color: #be77af;
}
.newUser {
  text-align: center;
  margin-top: 50px;
  margin-bottom: auto;
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  font-size: 30px;
}
.newUser a {
  text-align: center;
  color: #8e5281;
  margin: 0 auto;
  font-family: "Josefin Slab", sans-serif;
  text-decoration: underline;
  font-size: 30px;
}
.newUser a:hover {
  color: #be77af;
}
.icon {
  width: 20px;
  height: 20px;
}

.errorMessage {
  color: red;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  font-family: "Josefin Slab", sans-serif;
}

.guest {
  text-align: center;
  color: #751a61;
  font-family: "Josefin Slab", sans-serif;
  font-size: 40px;
}
