.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.heading {
  margin-top: 50px;
  margin-right: 1900px;
  margin-bottom: 0px;
  margin-left: 100px;
  text-align: center;
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  font-size: 100px;
}
.goalBox {
  text-align: center;
  margin: 0% auto;
  background-color: #fdefff;
  border: solid 2px #9e0097;
  width: 85%;
  min-height: 500px;
  max-height: 1000px;
  overflow-y: auto;
}

.createNewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e5281;
  margin-top: 50px !important;
  margin: 0% auto;
  border: none;
}
.createNew {
  text-decoration: none;
  color: white;
  font-family: "Josefin Slab", sans-serif;
  font-size: 35px;
  margin: 4px;
}

.createNewContainer:hover {
  background-color: #b78aad;
}

.goalItem {
  border: 2px solid #8e5281;
  background-color: white;
  width: 99%;
  align-items: center;
  margin: 0% auto;
  margin-top: 10px;
  height: 130px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.goalTitle {
  font-family: "Josefin Slab", sans-serif;
  text-align: left;
  margin-left: 100px;
  margin-top: 5px;
  font-size: 40px;
  color: #8e5281;
  margin-bottom: 0px;
  font-weight: 1000px;
}

.goalNote {
  font-family: "Josefin Slab", sans-serif;
  text-align: left;
  margin-left: 100px;
  color: #8e5281;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 0px;
}

.goalDate {
  font-family: "Josefin Slab", sans-serif;
  text-align: left;
  margin-left: 100px;
  color: #8e5281;
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 5px;
}
.checkbox {
  float: left;
  margin-left: 35px;
  margin-top: 50px;
  cursor: pointer;
  transform: scale(4);
  color: #8e5281;
  padding-left: 25px; /* space for the custom checkbox */
}
.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  color: #8e5281;
}
.checkbox-input:checked + .checkbox-label:before {
  background: #8e5281; /* Background color when checked */
  border-color: #8e5281; /* Border color when checked */
}
.checkbox-label {
  position: relative;
  cursor: pointer;
  padding-left: 25px; /* space for the custom checkbox */
  line-height: 20px;
  color: #8e5281;
}

.checkbox-label:before {
  color: #8e5281;
  content: "";
  position: absolute;
  left: -975px;
  top: 95px;
  width: 40px;
  height: 40px;
  border: 2px solid #8e5281;
  border-radius: 3px;
  background: white;
  transform: scale(1.5); /* Increase the size of the custom checkbox */
}

.checkbox:checked + checkboxed-label:before {
  color: #8e5281;
  border: 2px solid #8e5281;
  border-color: #8e5281;
  background: #8e5281;
}

.checkbox:checked + checkboxed-label:after {
  color: #8e5281;
  background: #8e5281;
  content: "";
  position: absolute;
  left: -960px;
  top: 98px;
  width: 12px;
  height: 24px;
  border: solid white;
  border-width: 0 10px 10px 0;
  transform: rotate(45deg);
  font-weight: bolder;
}

.deleteButton {
  background-color: #fdefff;
  font-family: "Josefin Slab", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: #8e5281;
  padding: 5px;
  cursor: pointer;
  border: none;
  margin-left: 90%;
  width: 80px;
  height: 30px;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: -50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.deleteButton:hover {
  background-color: #e3c2dc;
}
.notfound {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: center;
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  font-size: 34px;
}
