.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.heading {
  margin-top: 50px;
  margin-right: 1100px;
  margin-bottom: 0px;
  margin-left: 100px;
  text-align: center;
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  font-size: 100px;
}
.reminderBox {
  text-align: center;
  margin: 0% auto;
  background-color: #fdefff;
  border: solid 2px #9e0097;
  width: 85%;
  height: 500px;
}

.createNewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e5281;
  margin-top: 100px !important;
  margin: 0% auto;
  border: none;
}
.createNew {
  text-decoration: none;
  color: white;
  font-family: "Josefin Slab", sans-serif;
  font-size: 35px;
  margin: 4px;
}

.createNewContainer:hover {
  background-color: #b78aad;
}

.reminderItem {
  border: 2px solid #8e5281;
  background-color: white;
  width: 90%;
  align-items: center;
  margin: 0% auto;
  margin-top: 10px;
}
