body {
  background-color: #fff3fe; /* Set the background color for the entire screen */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.welcome {
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  top: 10px;
  left: 350px;
  position: absolute;
  font-size: 75px;
  text-align: end;
}
.reminder {
  color: white;
  font-family: "Josefin Slab", sans-serif;
  top: 140px;
  left: 350px;
  text-align: left;
  padding-top: 2px;
  padding-left: 2px;
  position: absolute;
  font-size: 40px;
  margin: 0% auto;
  background-color: #fdefff;
  border: solid 2px #9e0097;
  width: 400px;
  height: 80px;
  overflow-x: auto;
}
.reminderItem {
  border: 2px solid #8e5281;
  background-color: 8e5281;
  width: 393px;
  height: 73px;
  text-align: left;
  font-family: "Josefin Slab", sans-serif;
  font-size: 20px;
  color: #8e5281;
  text-align: left;
  line-height: 0.1;
  overflow-x: auto;
}

.timeText {
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  top: 18px;
  left: 10px;
  position: absolute;
  font-size: 15px;
  text-align: end;
  font-weight: bold;
}

.reminderContainer {
  background-color: #fdefff;
  color: white;
  margin: 0 auto;
  border: #8e5281;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Slab", sans-serif;
  font-size: 25.5vw;
  height: 50px;
  width: 390px;
  padding: 0px;
  margin: 0px;
  overflow-x: auto;
}

.titleText {
  display: inline-block;
  top: 40px;
  left: 10px;
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  position: absolute;
  font-size: 26px;
  text-align: end;
  flex: 1;
  font-weight: bolder;
  margin-right: 10px;
}

.noteText {
  display: inline-block;
  top: 62px;
  left: 10px;
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  position: absolute;
  font-size: 23px;
  text-align: end;
  flex: 1;
}

.navbar {
  position: absolute;
  transition: 0.3s;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f9ddfd;
  padding-top: 20px;
  /*left: -250px;*/
}

.navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #8e5281;
  font-weight: bold;
  font-size: 40px;
  font-family: "Josefin Slab", sans-serif;
  margin-top: 20px;
}

.navbar a:hover {
  color: #b78aad;
  font-family: "Josefin Slab", sans-serif;
}

.heading {
  font-size: 70px !important;
  text-align: center;
  border-bottom: 4px solid #8e5281;
}

.calendar {
  margin-top: 250px;
  margin-left: 275px;
  margin-bottom: 20px;
  width: 70%;
  height: 30%;
  color: #8e5281;
  font-family: "Josefin Slab", sans-serif;
  background-color: #fdefff;
  border: solid #9e0097;
  font-weight: bolder;
}
.calendar.fc-button {
  color: #fff !important;
  font-family: "Josefin Slab" sans-serif !important;
  background-color: #8e5281 !important;
  border-color: #8e5281 !important;
  font-family: "Josefin Slab", sans-serif;
}
.fc-button:hover {
  background-color: #be77af !important;
  border-color: #8e5281 !important;
  font-family: "Josefin Slab", sans-serif;
}
.fc-button:active {
  background-color: #be77af !important;
  border-color: #be77af !important;
  font-family: "Josefin Slab", sans-serif;
}
